*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow: hidden;
}


#main-wrapper{
    width: 100%;
    height: 100vh;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#main-wrapper h1{
    color: #fae878;
    font-size: 3.9em;
    display: inline-block;
    transform: skew(-12deg);
}
h2{
   color: #fae878; 
}

#main-wrapper > div{
    text-align: center;
}

.main > img:first-child{
    transform: rotate(-15deg);
}

.main > img:nth-child(2) {
    transform: rotate(15deg);
}

.main > img{
    margin: 0 35px;
}

#main-wrapper >div> div > img{
    width:50px;
}

#main-wrapper #start{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    display: block;
    color: #fff;
    background-color: #05a4c9;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 2em;
    margin-top: 10px;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
}

#game{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
}

#game h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}

#game .chip-container img{
    cursor: pointer;
    transition: transform 0.3s;
    margin: 5px;
    width:50px;
}
#game img:hover{
    transform: scale(1.2);
}

.chip-container {
    position: relative;
    display: inline-block;
}
.chip-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background: rgb(241, 61, 61);
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    pointer-events: none;
}

#resetBtn {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
}

#deal,#playing
{
    display: none;
}

#computer_cards > img, #user_cards>img{
    width: 150px !important;
    margin: 10px;
}

#user_cards{
    margin-top: 10px;
}

#c_score,#u_score{
    color: white;
    font-size: 1.9em;
}

.overlay{
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(245, 239, 239, 0.5);
    justify-content: center;
    display: flex;
    align-items: center;
    color:red;
    font-size: 3em;
    display: none;
}

.another{
    font-size: 0.9em;
}

@media screen and (max-width:400px){
    #playing{
        overflow-x: scroll;
        width: 100%;
    }
    #user_cards,#computer_cards{ 
        display: flex;
        overflow-x: scroll;
        max-width: fit-content; 
    }
    .overlay >p{
        text-align: center;
    }
    .overlay{
            
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
}
